
.container-videos-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.videos-area{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(15,67,70,1) 35%, rgba(1,28,29,1) 100%);
    padding: 10px 0;
}



.container{
    height: 1000px;
}

.layout-videos {
    background-color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 44%;
    border: 1px solid;
    border-radius: 10px;
    padding-bottom: 10px;
}

.thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.25s; 
}

.thumb:hover {
    background-size: 150%;
    filter: grayscale(100%) blur(2px);
    transform: scale(98%);
    
}


.title-videos{
    font-size: 111%;
    padding-top: 3px;
    text-align: center;
    color: white;
}
