.mainArea {
  width: 100vw;
  height: 50vh;
  min-height: 320px;

  background: url("../../assets/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  display: flex;
  align-items: center;
}

.mainArea__content {
  margin-left: 195px;
}

.mainArea__content p,
h1 {
  color: white;
}

.mainArea__content h1 {
  font-size: 60px;
  font-weight: 600;
}

.mainArea__content p {
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .mainArea {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mainArea__content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 556px) {
  .mainArea {
    width: 560px;
  }
}
