

header{
  display: flex;
  transition: all ease 0.8s;
  position: fixed;
  width: 100%;
}

.menu{
  display: flex;
  flex-wrap: wrap;
}

.activeColor{

  background-color: #282828;
}


.logo-ipcvt{
  width: 95px;
  height: 49px;
  margin-left: 30px;
  padding-top: 3px;
}

nav{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav {
  margin: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;

  cursor: pointer;
}

.nav:hover{
  font-weight: 500;
}

.bi-search{
  color: white;
  margin-left: 5px;
  margin-top: 18px;
  margin-right: 13px;
}




